a1
a2
b1
b2
forward.fastq
forward2.fastq
output_forward.k25_norm2_thread0
output_forward.k25_norm2_thread1
output_forward.k25_norm2_thread2
output_forward.k25_norm2_thread3
output_reverse.k25_norm2_thread0
output_reverse.k25_norm2_thread1
output_reverse.k25_norm2_thread2
output_reverse.k25_norm2_thread3
reverse.fastq
reverse2.fastq
normalise_kmers_multi
